body {
  background-color: #A52A2A; /* Warna Brown */
  font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #D2691E; /* Warna teks utams (chocolate)  */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20 px;
  background-color: white;
  border-radius: 15px; /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek Bayangan */
  text-align: center; /* Menengahkan semua teks di dalam kartu */
}
.kartu-profil img {
  width: 150px;
  border-radius: 50% /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}

.my-button {
  background-color: #007bff; /* Initial background color */
  color: white; /* Initial text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.my-button:hover {
  background-color: #0056b3; /* Background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}
