body {
  background-color: #A52A2A; /* Warna Brown */
  font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #D2691E; /* Warna teks utams (chocolate)  */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20 px;
  background-color: white;
  border-radius: 15px; /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek Bayangan */
  text-align: center; /* Menengahkan semua teks di dalam kartu */
}
.kartu-profil img {
  width: 150px;
  border-radius: 50% /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
